body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}
img {
    border-radius: 5%;
    max-width: 25%;
    height: auto;
}
.flex_container, .nav1, .nav2, .nav3 {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-weight: 700;
    font-size: 20px;
}
.header_container, .head .fa-solid.fa-droplet {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;

}
h1 {
    font-size: 30px;
    font-weight: bold;
}
h2 {
  color: #86addb;
  font-size: 23px;
}
h3 {
  color: #86addb;
  font-size: 23px;
}
 /* unvisited link */
 a:link {
    color: #538bcc;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #538bcc;
  }
  
  .fa-droplet {
    color: #86addb;
    font-size: 60px;
    padding-right: 10px;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    margin-right: 54px;
    margin-top: 50px;

  }
p {
 font-weight: 500;
 font-size: 16px;
 color: black;
}
.item {
 width: 300px;
 background-color: #e9f0f8;
 border: solid 1px #fcfdfe;
 border-radius: 15px;
 padding-left: 5px;
 padding-right: 5px
}



@media only screen and (max-width: 900px) {
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  gap: 30px;
  }
}
